#links {

    width: 60%;
    margin:0 auto;
    margin-top: 3em;
    
}

.container {

    width: 60%;
    margin:0 auto;
    margin-top: 4em;
    
}

.card-body {
    background-color: lightgray;
}

.content {
    margin-left: 3em;
}

.breadcrumb {

    padding: 0em;
    margin-top: 1.5em;
    color: white;
    background-color: white;
}
