<div id="links">
    <div style="height: 1em;" aria-label="breadcrumb">
        <ol class="breadcrumb white lighten-4">
          <li class="breadcrumb-item"><a class="black-text " routerLink="/catalogue">Catalogue</a><i class="glyphicon glyphicon-chevron-right mx-1"
              aria-hidden="true"></i></li>
          <li class="breadcrumb-item active ">About</li>
        </ol>
    </div>
    <div *ngIf="!isLoggedIn" style="margin-top: 1em;" ><a class="black-text " routerLink="/login" >Login</a></div>
</div>



<div class="container">

    
    <div class="row">
        <div class="col">
            <div class="card mb-5">
                <div class="card-body">
                    <div class="content">
                        <h3>Michail Korres</h3>
                        <h5>michail.korres@scania.com</h5>
                        <div>0855350542</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card mb-5">
                <div class="card-body">
                    <div class="content">
                        <h3>Peter Shestopalov</h3>
                        <h5>peter.shestopalov@scania.com</h5>
                        <div>0855351159</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="content">
                        <h3>Version: 1.0</h3>
                        <h5>Angular</h5>
                        <div>Release date: 2020/06/16</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
