<div class="container">
    
    <h2>Register your account </h2>

    <form [formGroup]="registerForm" id="form">
        <div class="form-group">
            <label for="username">Full Name</label>
            <input class="form-control" type="text" name="username" id="username" placeholder="John Doe" formControlName="username">
        </div>
        
        <div *ngIf="username.invalid && (username.dirty || username.touched)">
            <div style='color:#0d45c7' *ngIf="username.errors.required">
                Username is required
            </div>

            <div style='color:#c70d0d' *ngIf="username.errors.minlength">
                Username must be at least 8 characters long
            </div>

            <div style='color:#c70d0d' *ngIf="username.errors.maxlength">
                Username must be max 20 characters long
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email (will be your username)</label>
            <input class="form-control" type="email" name="email" id="email" placeholder="john.doe@email.com" formControlName="email">
        </div>

        <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <div style='color:#0d45c7' *ngIf="email.errors.required">
                Email is required
            </div>

            <div style='color:#c70d0d' *ngIf="email.errors.minlength">
                Email must be at least 8 characters long
            </div>

            <div style='color:#c70d0d' *ngIf="email.errors.maxlength">
                Email must be max 20 characters long
            </div>
        </div>
        

        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" placeholder="***" formControlName="password">
        </div>

        <div style='color:#0d45c7' *ngIf="password.invalid && (password.dirty || password.touched)">
            <div *ngIf="password.errors.required">
                Password is required
            </div>

            <div style='color:#c70d0d' *ngIf="password.errors.minlength">
                Password must be at least 9 characters long
            </div>

            <div style='color:#c70d0d' *ngIf="password.errors.pattern">
                Password must contain both uppercase and lower case letters as well as a number and a special character
            </div>

            <div style='color:#c70d0d' *ngIf="password.errors.maxlength">
                Password must be max 20 characters long
            </div>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="***" formControlName="confirmPassword">
        </div>

        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
            <div style='color:#0d45c7' *ngIf="confirmPassword.errors.required">
                Please confirm password
            </div>

            <div style='color:#c70d0d' *ngIf="(confirmPassword.errors || registerForm.errors?.mismatch) && confirmPassword.dirty">
                Passwords don't match
            </div>

        </div>

        <div id="button">
            <button type="button" class="btn btn-info btn-lg" (click)="onRegisterClicked()" style="width: 10em;">Register</button><a routerLink="/login" >Already have an account? Login here</a>
        </div>

        <div *ngIf="isRegistering">
            <p>Hang on a sec, we are registering you</p>  
        </div>

        <div *ngIf="registerError" class="alert alert-danger" role="alert">
            <h4>Something went wrong</h4>
            <p>{{registerError}}</p>

        </div>

    </form>
    <br>
    
</div>