.container {
    
    margin: 0 auto;
    width: 41%;
}

.form-group {
    margin-bottom: 0em;
    margin-top: 1.5em;
}

h2 {
    font-family: 'Montaga', cursive;
    margin-top: 2.5em;
}

form {
    margin-top: 3.5em;
}

label {
    font-family: 'Lora', cursive;
    font-size:medium;
    font-weight: 600;
}

#button {

    display:flex;
    justify-content:space-between;
    margin-top: 5em;
}






