

.container {
    
    margin: 0 auto;
    width: 60%;
}

label {
    font-family: 'Lora', cursive;
    font-size:medium;
    font-weight: 600;
}

button {
    margin-top: 2em;
    margin-right: 1em;
}

h2 {
    color: brown;
    font-family: 'Montaga', cursive;
    margin-bottom: 1.5em;
}

.form-group {
    margin-bottom: 0em;
    margin-top: 1.5em;
}

.breadcrumb {

    padding: 0em;
    margin-top: 4em;
    color: white;
    background-color: white;
}

.card {
    padding: 3em;
    box-shadow:1px 1px 6px #000000;
}
