<div class="container">

    <div style="height: 1em;" aria-label="breadcrumb">
        <ol class="breadcrumb white lighten-4">
          <li class="breadcrumb-item"><a class="black-text " routerLink="/catalogue">Catalogue</a><i class="glyphicon glyphicon-chevron-right mx-1"
              aria-hidden="true"></i></li>
          <li class="breadcrumb-item active">Add book</li>
        </ol>
    </div>

    <div class="card"  style="margin-top: 2em;">
        <div class="card-body">

            <h2> Add your book </h2>

            <form [formGroup]="addbookForm" id="form">

                <!-- Title  -->

                <div class="form-group">
                    <label for="title">Title</label>
                    <input class="form-control" type="text" name="title" id="title" placeholder="Go hard or go home" formControlName="title">
                </div>
                
                <div *ngIf="title.invalid && (title.dirty || title.touched)">
                    <div style='color:#0d45c7' *ngIf="title.errors.required">
                        Title is required
                    </div>

                    <div style='color:#c70d0d' *ngIf="title.errors.maxlength">
                        Title must be max 100 characters long
                    </div>
                </div>

                <!-- Author  -->

                <div class="form-group">
                    <label for="author">Author(s)</label>
                    <input class="form-control" type="text" name="author" id="author" placeholder="R.J.Hang" formControlName="author">
                </div>
                
                <div *ngIf="author.invalid && (author.dirty || author.touched)">
                    <div style='color:#0d45c7' *ngIf="author.errors.required">
                        Author name is required
                    </div>

                    <div style='color:#c70d0d' *ngIf="author.errors.minlength">
                        Author name must be at least 1 character long
                    </div>

                    <div style='color:#c70d0d' *ngIf="author.errors.maxlength">
                        Author name must be max 50 characters long
                    </div>
                </div>

                <!-- Description  -->

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" type="textarea" name="description" id="description" placeholder="Short book description" rows="3" formControlName="description"></textarea>
                </div>

                <div *ngIf="description.invalid && (description.dirty || description.touched)">
                    <div style='color:#0d45c7' *ngIf="description.errors.required">
                        Description is required
                    </div>

                    <div style='color:#c70d0d' *ngIf="description.errors.minlength">
                        Description must be at least 2 characters long
                    </div>

                    <div style='color:#c70d0d' *ngIf="description.errors.maxlength">
                        Description must be max 600 characters long
                    </div>
                </div>
                
                <!-- ISBN  -->

                <div class="form-group">
                    <label for="isbn">ISBN</label>
                    <input class="form-control" type="text" name="isbn" id="isbn" placeholder="0123456789123" formControlName="isbn">
                </div>

                <div style='color:#0d45c7' *ngIf="isbn.invalid && (isbn.dirty || isbn.touched)">
                    <div *ngIf="isbn.errors.required">
                        ISBN is required
                    </div>

                    <div style='color:#c70d0d' *ngIf="isbn.errors.minlength">
                        ISBN must be of 13 characters
                    </div>

                    <!-- <div style='color:#c70d0d' *ngIf="(isbn.errors || addbookForm.errors?.mismatch) && isbn.dirty">
                        The ISBN must be in the following format: 1231354647545 (13 numbers)
                    </div> -->

                    <div style='color:#c70d0d' *ngIf="isbn.errors.pattern">
                        The ISBN must contain only numbers
                    </div>

                    <div style='color:#c70d0d' *ngIf="isbn.errors.maxlength">
                        ISBN must be of 13 characters
                    </div>
                </div>

                <!-- URL to Cover  -->

                <div class="form-group">
                    <label for="urlToCover">URL to Cover</label>
                    <input class="form-control" type="url" name="urlToCover" id="urlToCover" placeholder="https://bookcover.com/cover.png" formControlName="urlToCover">
                </div>

                <div *ngIf="urlToCover.invalid && (urlToCover.dirty || urlToCover.touched)">
                    <div style='color:#0d45c7' *ngIf="urlToCover.errors.required">
                        URL is required
                    </div>
                </div>

        <!--         <div style='color:#c70d0d' *ngIf="urlToCover.errors.required">
                    URL must start with https://
                </div> -->

                <!-- Stock  -->

                <div class="form-group">
                    <label for="stock">Stock received</label>
                    <input class="form-control" type="number" name="stock" id="stock" placeholder="10" formControlName="stock">
                </div>

                <div *ngIf="stock.invalid && (stock.dirty || stock.touched)">
                    <div style='color:#0d45c7' *ngIf="stock.errors.required">
                        Stock number is required
                    </div>

                    <div style='color:#c70d0d' *ngIf="stock.errors.maxlength">
                        Stock number must be max 10 characters long
                    </div>
                </div>

            <br>
                <span><button type="button" class="btn btn-secondary btn-lg" (click)="onCancelClicked()">Cancel</button><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#exampleModal" (click)="onAddClicked()">Add</button></span>

                <div *ngIf="isAdding">
                    <p>Hang on a sec, we are registering book info</p>  
                </div>

                <!-- Alert messages  -->

                <div *ngIf="registerBookError" class="alert alert-danger" role="alert">
                    <h4>Something went wrong</h4>
                    <p>{{registerBookError}}</p>

                </div>

                <div *ngIf="registerSuccess" class="alert alert-success" role="alert" style="margin-top: 2em;">
                    <h4>Book succesfully added</h4>
                    <button type="button" class="btn btn-secondary btn-lg" (click)="onOkClicked()">OK</button>
        
                </div>

            </form>
        </div>
    </div>
    <br>
</div>
