<div class="row">
    <div class="col-2">
        <div class="card-body">
            <img src={{book.cover}} alt="" style="width: 60px;">
        </div>
    </div>
    <div class="col-7">
        <div class="card-body">
            <h6>{{book.title}}</h6>
            <div  style="color: indigo;">{{book.authors}}</div>
            <div class="stock" *ngIf="book.stock !== 0"> In stock ({{book.stock}})</div>
            <div class="outOfStock" *ngIf="book.stock === 0"> Out of stock</div>
        </div>
    </div>
    <div class="col" id="btnDelete" >
        <div class="card-body">
            <button type="button" class="btn btn-secondary btn" (click)="onDeleteClicked()">Delete</button>
        </div>
    </div>
    
</div>


