<nav class="navbar navbar-dark bg-dark justify-content-between">
    <span class="navbar-brand mb-0 h1">
        <a class="navbar-item"><img src="../assets/logo/logo.PNG" style="width: 100px;"></a></span>
    <a class="nav-link" routerLink="/about" target="_blank"> About </a>
<!--     <div class="nav-item">
        <a class="nav-link" routerLink="/about"> About </a>
    </div>  -->
<!--     <a class="navbar-brand" href="#">
        <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
    </a> -->
</nav>
<router-outlet></router-outlet>