<div class="container">

<div style="margin: 2em; width: 25%;">
    <form [formGroup]="loginForm" >
        <h2 style="margin-top: 2em;">{{ loginTitle }}</h2>
        <div class="form-group">
            <label for="username" style="margin-top: 2em;">Username</label>
            <input class="form-control" type="text" id="username" placeholder="Enter username here..." formControlName="username">
        </div>

        <!-- <div *ngIf="username.invalid && (username.dirty || username.touched)">
            <div style='color:#0d45c7' *ngIf="username.errors.required">
                Username is required
            </div>

            <div style='color:#c70d0d' *ngIf="username.errors.minlength">
                Username must be at least 8 characters long
            </div>

            <div style='color:#c70d0d' *ngIf="username.errors.maxlength">
                Username must be max 20 characters long
            </div>
        </div> -->

        <div class="form-group">
            <label for="password" style="margin-top: 1.5em;">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your password here...." formControlName="password">
        </div>  

       <!--  <div *ngIf="password.invalid && (password.dirty || password.touched)">
            <div style='color:#0d45c7' *ngIf="password.errors.required">
                Password is required
            </div>

            <div style='color:#c70d0d' *ngIf="password.errors.minlength">
                Password must be at least 9 characters long
            </div>

            <div style='color:#c70d0d' *ngIf="password.errors.maxlength">
                Password must be max 20 characters long
            </div>
        </div> -->
<div id="button">
        <button class="btn btn-info btn-lg" (click)="onLoginClicked()" type="button" style="width: 10em;">Login</button>
    </div>
        <div *ngIf="isLoading" style="margin-top: 1em;">
            <p>Please wait a sec.....</p>  
        </div>

        <div *ngIf="loginError" class="alert alert-danger" role="alert">
            <h4>Something went wrong</h4>
            <p>{{loginError}}</p>

        </div>
   

    <div style="margin-top: 3em;"><a routerLink="/register" > Don't have an account?🐱‍👤Register now😎</a></div>
</form>
</div>

</div>