<div class="container">

    <div>
        <button type="button" class="btn btn-secondary btn-lg" (click)="onAddBookClicked()" id="btn-addBook">Add a
            book</button>
    </div>


    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="card-body">
                    <h3> {{user}}</h3>
                    <h5> {{username}}</h5>
                    <div> Last login: {{lastLogin}}</div>

                    <span><button type="button" class="btn btn-secondary btn-lg" (click)="onEditClicked()"
                            id="btn-edit">Edit</button>
                        <button type="button" class="btn btn-secondary btn-lg" (click)="onLogoutClicked()"
                            id="btn-logout" mb-2>Logout</button></span>
                </div>

            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5>Filter books</h5>
                    <div class="form-check" style="margin-top: 2em;">
                        <input type="checkbox" class="form-check-input" id="checkbox" (click)="onFilterClicked()">
                        <label class="form-check-label" for="checkbox">In stock only</label>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5> Links </h5>
                    <a class="nav-link" routerLink="/about" target="_blank" style="margin-top: 2em; margin-bottom: 4em;">About </a>
                </div>
            </div>
        </div>
        <div class="col-8" style="background-color: white;">

            <div class="form-group mb-3" id="search-book">
                <label for="search"></label>
                <input class="form-control" type="text" name="search" id="search" [(ngModel)]="searchText"
                    placeholder="Search Book Title or Author">
            </div>

            <!--             <div class="card">
  
                <div class="card-body" style="height: 28em;">
                    <app-book-item *ngFor="let book of books" [book]="book"> </app-book-item>
                </div>
            </div> -->
            <div class="card" id="bookList">
                <div class="card-wrapper-scroll-y my-custom-scrollbar">
                    <app-book-item class="card" *ngFor="let book of books | filter: searchText; let i = index"
                        (bookDeleted)="onDeleteClicked()" [book]="book">

                        <!-- <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="..." class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        asdasdd
                    </div>
                  </div>
                </div> -->
                    </app-book-item>
                </div>
            </div>
        </div>
    </div>

</div>