/* body {

    margin:0 auto;
    padding: 0;
    width: 80%;
} */

#bookList {
    height: 30.5em;
}

.container {

    width: 80%;
    margin:0 auto;
    margin-top: 5em;
    
}

#btn-addBook {

    background-color: #ccc;
    margin-top: -2.5em;
    /* display: flex; */
    /* position: absolute; */
    float: right;
    

}

.form-group {
    margin: 0;
}

#search {
    /* display: grid; */
    /* margin-top: 3em; */
    height: 4em;
    margin-top: -1.5em;
    /* justify-content: space-between; */
    /* float: right; */

}

.my-custom-scrollbar {
    position: relative;
    
    overflow-x: hidden;
    overflow-y: hidden;
}

.my-custom-scrollbar:hover {
    
    overflow-x: hidden;
    overflow-y: scroll;
}




.table-wrapper-scroll-y {
    display: block;
}


.card-body {
    background-color: lightgray;
}

 .btn-secondary {
    /*  margin-right: 1em; */
     margin-top: 2em;
 }

 #btn-edit {
    margin-right: 3em;
    width: 5em;
 }

 .nav-link {
     padding: 0em;
 }