<div class="container">
    
    <div style="height: 1em;" aria-label="breadcrumb">
        <ol class="breadcrumb white lighten-4">
          <li class="breadcrumb-item"><a class="black-text " routerLink="/catalogue">Catalogue</a><i class="glyphicon glyphicon-chevron-right mx-1"
              aria-hidden="true"></i></li>
          <li class="breadcrumb-item active">Edit Profile</li>
        </ol>
    </div>

    <form [formGroup]="edituserForm" id="form">
        <div class="form-group">
            <label for="username">Full Name</label>
            <input class="form-control" type="text" name="username" id="username" placeholder="John Doe" formControlName="username">
        </div>
        
        <div *ngIf="username.invalid && (username.dirty || username.touched)">
            <div style='color:#0d45c7' *ngIf="username.errors.required">
                Username is required
            </div>

            <div style='color:#c70d0d' *ngIf="username.errors.minlength">
                Username must be at least 8 characters long
            </div>

            <div style='color:#c70d0d' *ngIf="username.errors.maxlength">
                Username must be max 20 characters long
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email/ Username</label>
            <input class="form-control" type="email" name="email" id="email" placeholder="john.doe@email.com" [value]="email">
        </div>

       <!--  <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <div style='color:#0d45c7' *ngIf="email.errors.required">
                Email is required
            </div>

            <div style='color:#c70d0d' *ngIf="email.errors.minlength">
                Email must be at least 8 characters long
            </div>

            <div style='color:#c70d0d' *ngIf="email.errors.maxlength">
                Email must be max 20 characters long
            </div> -->
        <!-- </div> -->
        <span><button type="button" class="btn btn-secondary btn-lg" (click)="onCancelClicked()">Cancel</button><button type="button" class="btn btn-info btn-lg" (click)="onUpdateClicked()">Update</button></span>

    </form>
</div>
