.container {
    
    margin: 0 auto;
    width: 60%;
}

label {
    font-family: 'Lora', cursive;
    font-size:medium;
    font-weight: 600;
}

#form {
    margin-top: 4em;
}

button {
    margin-top: 2em;
    margin-right: 1em;
}

.form-group {
    margin-bottom: 0em;
    margin-top: 1.5em;
}

.breadcrumb {

    padding: 0em;
    margin-top: 4em;
    color: white;
    background-color: white;
}
